// @use 'vuetify/styles/settings' as vuetify;

$ff: 'Kumbh Sans', sans-serif;
$heading-font-family: $ff;
$body-font-family: $ff;

$custom-typography: (
	'h1': (
		'size': 1.75rem,
		'weight': 700,
		'line-height': 2.125rem,
		'letter-spacing': -0.015625em,
		'font-family': $heading-font-family,
		'text-transform': none,
	),
	'h2': (
		'size': 1.5rem,
		'weight': 700,
		'line-height': 1.8125rem,
		'letter-spacing': -0.0083333333em,
		'font-family': $heading-font-family,
		'text-transform': none,
	),
	'h3': (
		'size': 1.25rem,
		'weight': 700,
		'line-height': 1.5rem,
		'letter-spacing': normal,
		'font-family': $heading-font-family,
		'text-transform': none,
	),
	'h4': (
		'size': 0.875rem,
		'weight': 700,
		'line-height': 1.125rem,
		'letter-spacing': normal,
		'font-family': $heading-font-family,
		'text-transform': none,
	),
	// 'h5': (
	// 	'size': 1.5rem,
	// 	'weight': 400,
	// 	'line-height': 2rem,
	// 	'letter-spacing': normal,
	// 	'font-family': $heading-font-family,
	// 	'text-transform': none,
	// ),
	// 'h6': (
	// 	'size': 1.25rem,
	// 	'weight': 500,
	// 	'line-height': 2rem,
	// 	'letter-spacing': 0.0125em,
	// 	'font-family': $heading-font-family,
	// 	'text-transform': none,
	// ),
	// 'subtitle-1': (
	// 	'size': 1rem,
	// 	'weight': normal,
	// 	'line-height': 1.75rem,
	// 	'letter-spacing': 0.009375em,
	// 	'font-family': $body-font-family,
	// 	'text-transform': none,
	// ),
	// 'subtitle-2': (
	// 	'size': 0.875rem,
	// 	'weight': 500,
	// 	'line-height': 1.375rem,
	// 	'letter-spacing': 0.0071428571em,
	// 	'font-family': $body-font-family,
	// 	'text-transform': none,
	// ),
	'body-1':
		(
			'size': 1rem,
			'weight': 400,
			'line-height': 1.625rem,
			'letter-spacing': 0.03125em,
			'font-family': $body-font-family,
			'text-transform': none,
		),
	// 'body-2': (
	// 	'size': 0.875rem,
	// 	'weight': 400,
	// 	'line-height': 1.25rem,
	// 	'letter-spacing': 0.0178571429em,
	// 	'font-family': $body-font-family,
	// 	'text-transform': none,
	// ),
	'button':
		(
			'size': 1.125rem,
			'weight': 700,
			'line-height': 2.25rem,
			'letter-spacing': 0.06em,
			'font-family': $body-font-family,
			'text-transform': none,
		),
	// 'caption': (
	// 	'size': 0.75rem,
	// 	'weight': 400,
	// 	'line-height': 1.25rem,
	// 	'letter-spacing': 0.0333333333em,
	// 	'font-family': $body-font-family,
	// 	'text-transform': none,
	// ),
	// 'overline': (
	// 	'size': 0.75rem,
	// 	'weight': 500,
	// 	'line-height': 2rem,
	// 	'letter-spacing': 0.1666666667em,
	// 	'font-family': $body-font-family,
	// 	'text-transform': uppercase,
	// ),
);

@use 'vuetify/settings' as vuetify with (
		$color-pack: false,
		$heading-font-family: $ff,
		$body-font-family: $ff,
		$typography: $custom-typography,

		// --- v-btn
		$button-height: 48px,
		$button-background: rgba(var(--v-theme-primary)),
		$button-color: rgba(var(--v-theme-light)),
		$button-elevation: (
			'default': 1,
			'hover': 2,
			'active': 4,
		),

		// --- v-container
		$container-padding-x: 24px,
		$container-max-widths: (
			// 'xs': 330px,
			// 'sm': 690px,
			'md': 1000px,
			'lg': 1110px,
		),

		// --- v-app-bar
		$app-bar-prominent-height: 165px,
		$app-bar-background: rgb(var(--v-theme-background)),
		// --- v-switch
		$switch-track-background: rgb(var(--v-theme-light)),
		$switch-thumb-background: rgb(var(--v-theme-primary)),
		// --- v-sheet
		// $sheet-rounded-border-radius: 4px
		$sheet-border-radius: 4px,
		// --- v-checkbox
	);


// xs: 0 - 595
// sm: 600 - 959
// md: 960 - 1279
// lg: 1280 - 1919
// xl: > 1920
// xxl: 

$xs-only: #{map-get(vuetify.$display-breakpoints, 'xs-only')};
$sm-only: #{map-get(vuetify.$display-breakpoints, 'sm-only')};
$sm-and-down: #{map-get(vuetify.$display-breakpoints, 'sm-and-down')};
$sm-and-up: #{map-get(vuetify.$display-breakpoints, 'sm-and-up')};
$md-only: #{map-get(vuetify.$display-breakpoints, 'md-only')};
$md-and-down: #{map-get(vuetify.$display-breakpoints, 'md-and-down')};
$md-and-up: #{map-get(vuetify.$display-breakpoints, 'md-and-up')};
$lg-only: #{map-get(vuetify.$display-breakpoints, 'lg-only')};
$lg-and-down: #{map-get(vuetify.$display-breakpoints, 'lg-and-down')};
$lg-and-up: #{map-get(vuetify.$display-breakpoints, 'lg-and-up')};
$xl-only: #{map-get(vuetify.$display-breakpoints, 'xl-only')};
